
PS4/.vs/PS4/v16/.suo
PS4/PS4/bin/Debug/net5.0-windows/PS4.dll
PS4/PS4/bin/Debug/net5.0-windows/PS4.exe
PS4/PS4/bin/Debug/net5.0-windows/PS4.pdb
PS4/PS4/bin/Debug/net5.0-windows/ref/PS4.dll
PS4/PS4/bin/Debug/net5.0-windows/PS4.runtimeconfig.dev.json
PS4/PS4/obj/Debug/net5.0-windows/App.g.cs
PS4/PS4/obj/Debug/net5.0-windows/App.g.i.cs
PS4/PS4/obj/Debug/net5.0-windows/MainWindow.g.cs
PS4/PS4/obj/Debug/net5.0-windows/apphost.exe
PS4/PS4/obj/Debug/net5.0-windows/MainWindow.g.i.cs
PS4/PS4/obj/Debug/net5.0-windows/PS4.csproj.CoreCompileInputs.cache
PS4/PS4/obj/Debug/net5.0-windows/PS4.assets.cache
PS4/PS4/obj/Debug/net5.0-windows/PS4.csproj.FileListAbsolute.txt
PS4/PS4/obj/Debug/net5.0-windows/PS4.dll
PS4/PS4/obj/Debug/net5.0-windows/PS4.GeneratedMSBuildEditorConfig.editorconfig
PS4/PS4/obj/Debug/net5.0-windows/PS4.genruntimeconfig.cache
PS4/PS4/obj/Debug/net5.0-windows/PS4.pdb
PS4/PS4/obj/Debug/net5.0-windows/PS4_MarkupCompile.i.cache
PS4/PS4/obj/Debug/net5.0-windows/PS4_MarkupCompile.cache
PS4/PS4/obj/Debug/net5.0-windows/PS4_MarkupCompile.lref
PS4/PS4/obj/project.assets.json
PS4/PS4/obj/Debug/net5.0-windows/ref/PS4.dll
PS4/PS4/obj/project.nuget.cache
PS4/PS4/obj/PS4.csproj.nuget.dgspec.json
PS4/PS4/obj/PS4.csproj.nuget.g.props
